<!--
  Generated template for the DetallePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle del producto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Nombre del producto</ion-label>
      <ion-input type="text" [(ngModel)]="producto.nombre"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Descripcion</ion-label>
      <ion-textarea [(ngModel)]="producto.descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio"></ion-input>
    </ion-item>
    <div padding>
      <button ion-button block (click)="addProducto()">
          <ion-icon padding name="cloud-done"></ion-icon> Guardar producto</button>
      <button *ngIf="id!=0" ion-button block color="danger" (click)="borrarProducto()">
        <ion-icon padding name="trash"></ion-icon>Eliminar producto</button>
    </div>
    <div padding>
      <button *ngIf="id!=0" ion-button block color="secondary" (click)="agregarAlCarrito(producto)">
          <ion-icon padding name="cart"></ion-icon> Agregar al carrito</button>
    </div>
  </ion-list>
</ion-content>
